<Project>
    <PropertyGroup>
        <BepInExPath>D:\SteamLibrary\steamapps\common\Kingdom Two Crowns\BepInEx\</BepInExPath>
        <BepInExConfigPath>$(BepInExPath)config\</BepInExConfigPath>
        <BepInExPluginsPath>$(BepInExPath)plugins\</BepInExPluginsPath>
    </PropertyGroup>
</Project>