[ExtraInfo.Text]

# Setting type: String
# Default value: PerfectDOSVGA437.ttf
# Acceptable values: arial.ttf, seguisym.ttf, PerfectDOSVGA437.ttf, fonts/Kingdom, fonts/KingdomMenu, fonts/NotoNaskhArabic-Medium, fonts/NotoSans-Medium, fonts/NotoSansBengali-Medium, fonts/NotoSansDevanagari-Medium, fonts/NotoSansJP-Medium, fonts/NotoSansKR-Medium, fonts/NotoSansSC-Medium, fonts/NotoSerifHebrew-Medium, fonts/NotoSerifThai-Medium
Font = PerfectDOSVGA437.ttf

# Setting type: Single
# Default value: 13
FontSize = 13

# Setting type: String
# Default value: 
FallbackFonts = 

[StatsInfo]

# Setting type: String
# Default value: 0,0,0,0
BackgroundColor = 0,0,0,0

# Setting type: String
# Default value: Background.png
BackgroundImageFile = Background.png

# Setting type: String
# Default value: 17, 17, 94, 94
BackgroundImageArea = 17,17,94,94

# Setting type: String
# Default value: 17, 17, 17, 17
BackgroundImageBorder = 17,17,17,17

[StatsInfo.Text]

# Setting type: String
# Default value: PerfectDOSVGA437.ttf
# Acceptable values: arial.ttf, seguisym.ttf, PerfectDOSVGA437.ttf, fonts/Kingdom, fonts/KingdomMenu, fonts/NotoNaskhArabic-Medium, fonts/NotoSans-Medium, fonts/NotoSansBengali-Medium, fonts/NotoSansDevanagari-Medium, fonts/NotoSansJP-Medium, fonts/NotoSansKR-Medium, fonts/NotoSansSC-Medium, fonts/NotoSerifHebrew-Medium, fonts/NotoSerifThai-Medium
Font = PerfectDOSVGA437.ttf

# Setting type: Single
# Default value: 13
FontSize = 13

# Setting type: String
# Default value: 
FallbackFonts = 

[TopMap]

# Setting type: String
# Default value: 0,0,0,0
BackgroundColor = 0,0,0,0

# Setting type: String
# Default value: Background.png
BackgroundImageFile = Background.png

# Setting type: String
# Default value: 17, 17, 94, 94
BackgroundImageArea = 17,17,94,94

# Setting type: String
# Default value: 17, 17, 17, 17
BackgroundImageBorder = 17,17,17,17

[TopMap.Count]

# Setting type: String
# Default value: arial.ttf
# Acceptable values: arial.ttf, seguisym.ttf, PerfectDOSVGA437.ttf, fonts/Kingdom, fonts/KingdomMenu, fonts/NotoNaskhArabic-Medium, fonts/NotoSans-Medium, fonts/NotoSansBengali-Medium, fonts/NotoSansDevanagari-Medium, fonts/NotoSansJP-Medium, fonts/NotoSansKR-Medium, fonts/NotoSansSC-Medium, fonts/NotoSerifHebrew-Medium, fonts/NotoSerifThai-Medium
Font = PerfectDOSVGA437.ttf

# Setting type: Single
# Default value: 12
FontSize = 12

# Setting type: String
# Default value: 
FallbackFonts = 

[TopMap.Sign]

# Setting type: String
# Default value: arial.ttf
# Acceptable values: arial.ttf, seguisym.ttf, PerfectDOSVGA437.ttf, fonts/Kingdom, fonts/KingdomMenu, fonts/NotoNaskhArabic-Medium, fonts/NotoSans-Medium, fonts/NotoSansBengali-Medium, fonts/NotoSansDevanagari-Medium, fonts/NotoSansJP-Medium, fonts/NotoSansKR-Medium, fonts/NotoSansSC-Medium, fonts/NotoSerifHebrew-Medium, fonts/NotoSerifThai-Medium
Font = arial.ttf

# Setting type: Single
# Default value: 12
FontSize = 12

# Setting type: String
# Default value: seguisym.ttf
FallbackFonts = seguisym.ttf

[TopMap.Title]

# Setting type: String
# Default value: PerfectDOSVGA437.ttf
# Acceptable values: arial.ttf, seguisym.ttf, PerfectDOSVGA437.ttf, fonts/Kingdom, fonts/KingdomMenu, fonts/NotoNaskhArabic-Medium, fonts/NotoSans-Medium, fonts/NotoSansBengali-Medium, fonts/NotoSansDevanagari-Medium, fonts/NotoSansJP-Medium, fonts/NotoSansKR-Medium, fonts/NotoSansSC-Medium, fonts/NotoSerifHebrew-Medium, fonts/NotoSerifThai-Medium
Font = PerfectDOSVGA437.ttf

# Setting type: Single
# Default value: 12
FontSize = 12

# Setting type: String
# Default value: 
FallbackFonts = 

