[GuiStyle]

# Setting type: String
# Default value: 0,0,0,0
BackgroundColor = 0,0,0,0

# Setting type: String
# Default value: Background.png
BackgroundImageFile = Background.png

# Setting type: Rect
# Default value: { "x":17, "y":17, "width":94, "height":94 }
BackgroundImageArea = { "x":17, "y":17, "width":94, "height":94 }

# Setting type: Vector4
# Default value: {"x":17.0,"y":17.0,"z":17.0,"w":17.0}
BackgroundImageBorder = {"x":17.0,"y":17.0,"z":17.0,"w":17.0}

